h1{color: rgb(235, 30, 132);background-color:blanchedalmond;}h1{border: 0.3pc dashed rgb(255, 147, 47);}
h2{font-style: italic; background-color: bisque;}
p{color:brown; font-size:medium; font-family:'Times New Roman', Times, serif; font-size: 20px;}
h4{color:rgb(240, 9, 125);background-color:bisque;height:min-content}
br{background-color: greenyellow;}